<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa-solid fa-kit-medical" style="margin-right: 8px;"></i>
            <span>Crisis Relief Platform</span>
        </a>        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/home">Home</a>
          <a class="nav-link" href="/blogs">Blogs</a>
          <a class="nav-link" href="/alerts">Alerts</a>
          <a class="nav-link" href="/news">News Updates</a>
          
          <a class="nav-link" href="/weather">Weather Forecast</a>
          <a class="nav-link" href="/donate">Donate</a>
          <a class="nav-link" href="/contacts">Contact Information</a>
        </div>
        <div class="navbar-nav  justify-content-end own">
          <% if(currentUser){ %>
            <a href="/logout" class="nav-link">logout</a>
            <% }else{ %>
              <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
              <% } %>
            
            
        </div>
      </div>
    </div>
  </nav>