<%layout('layouts/boilerplate')%>
    <div class="container mb-3">
        <h1 class="text-center mb-3">Natural Disaster: Cyclone</h1>
        <div class="row">
            <div class="col-lg-7">
                <p>
                    Cyclones, also known as hurricanes or typhoons depending on the region, are powerful tropical storms characterized by low-pressure centers, strong winds, and heavy rainfall.
                    There are primarily two types of cyclones based on their location and characteristics:
                </p>
                <h3>Types of Cyclones</h3>
                <ol>
                    <li><strong>Tropical Cyclones:</strong> These form over warm ocean waters near the equator and are classified into different categories based on their maximum sustained wind speed. In the Atlantic and Eastern Pacific, they are called hurricanes, while in the Western Pacific, they are called typhoons. In the Indian Ocean and South Pacific, they are simply referred to as tropical cyclones.</li>
                    <li><strong>Extratropical Cyclones:</strong> These develop outside the tropics, generally in the mid-latitudes, and are associated with fronts and changes in weather patterns. They can also be powerful storms but are typically less intense than tropical cyclones.</li>
                </ol>
                <h3>Predicting the Occurrence of Cyclones:</h3>
                <ul>
                    <li>Meteorological agencies around the world use various tools and methods to predict the occurrence and track of cyclones. These include satellites, weather radar, weather stations, computer models, and historical data.</li>
                    <li>Specialized meteorological models are used to predict the formation and movement of cyclones. These models take into account factors such as sea surface temperatures, wind patterns, air pressure, and atmospheric conditions.</li>
                    <li>Early warning systems are put in place to alert people in the path of a cyclone, giving them time to prepare and evacuate if necessary.</li>
                </ul>
                <h3>Tips to survive cyclone:</h3>
                <ol>
                    <li><h5>Stay Informed</h5></li>
                    <li><h5>Prepare an Emergency Kit</h5></li>
                    <li><h5>Secure Your Home</h5></li>
                    <li><h5>Evacuate if Advised</h5></li>
                    <li><h5>Seek Shelter</h5></li>
                    <li><h5>Stay Indoors During the Storm</h5></li>
                    <li><h5>After the Storm</h5></li>
                </ol>
            </div>
            <div class="col-lg-5">
                <img src="/images/cyclone.jpeg" class="img-fluid" alt="Cyclone Image">
            </div>
        </div>
    </div>
