<%layout('layouts/boilerplate')%>
<body>
    <div class="container mb-3">
        <h1 class="text-center mb-3">Natural Disaster: Earthquake</h1>
        <div class="row">
            <div class="col-lg-7">
                <p>
                    Earthquakes are caused by the sudden release of energy in the Earth's crust, resulting in seismic waves that propagate through the ground. They can vary in size, depth, and intensity. Here are some common types of earthquakes:
                </p>
                <h3>Types of Earthquakes</h3>
                <ol>
                    <li><strong>Tectonic Earthquakes: </strong>These are the most common type of earthquakes and occur along tectonic plate boundaries. When plates move past, collide with, or slide under each other, stress builds up along the fault lines until it is released in the form of an earthquake.</li>
                    <li><strong>Volcanic Earthquakes: </strong>These earthquakes occur in volcanic regions and are associated with the movement of magma within the Earth's crust. They can be caused by volcanic eruptions or the movement of magma beneath the surface.</li>
                    <li><strong>Collapse Earthquakes:</strong>These earthquakes occur in underground mines, caves, or other underground spaces due to the collapse of rock structures.</li>
                    <li><strong>Induced Earthquakes:</strong> These earthquakes are triggered by human activities, such as mining, reservoir-induced seismicity (due to the filling of large reservoirs behind dams), or fluid injection </li>
                    
                </ol>
                <h3>Predicting the Occurrence of Earthquakes:</h3>
                <ul>
                    <li>Seismometers are devices that detect and record seismic waves caused by earthquakes.
                     By analyzing data from a network of seismometers, seismologists can determine the location, depth, and magnitude of earthquakes. While seismic monitoring provides valuable information, it cannot predict earthquakes with precision.</li>
                    <li>Foreshocks are smaller earthquakes that precede larger earthquakes.
                     Monitoring and analyzing foreshocks can sometimes provide clues about the likelihood of a larger earthquake occurring in the same area.</li>
                    <li> Scientists use historical earthquake data, geological studies, and computer modeling to assess seismic hazards in specific regions.
                     This information helps policymakers and engineers develop building codes and infrastructure standards to mitigate earthquake risks.</li>
                </ul>
                <h3>Tips to survive Earthquakes:</h3>
                <ol>
                    <li><h5>Drop, Cover, and Hold On</h5></li>
                    <li><h5>Stay Indoors</h5></li>
                    <li><h5>Stay Away from Hazardous Areas</h5></li>
                    <li><h5>Have an Emergency Plan</h5></li>
                    <li><h5>Seek Shelter</h5></li>
                    <li><h5>Secure Heavy Items</h5></li>
                    <li><h5>Know How to Shut Off Utilities</h5></li>
                </ol>
            </div>
            <div class="col-lg-5">
                <img src="/images/earthquake.jpg" class="img-fluid" alt="Cyclone Image">
            </div>
        </div>
    </div>