<%layout('layouts/boilerplate')%>
<div class="container mb-5">
    <h1 class="text-center mb-3">Natural Disaster: Floods</h1>
    <div class="row">
        <div class="col-lg-7">
            <p>
                Floods are natural disasters that occur when an area experiences an overflow of water onto land that is usually dry. They can result from various factors, including heavy rainfall, melting snow, storm surges, dam or levee breaches, and rapid ice melting. Floods can cause significant damage to infrastructure, homes, agriculture, and the environment, as well as pose serious risks to human safety.
            </p>
            <h3>Types of Floods</h3>
            <ol>
                <li><strong>Flash Floods: </strong> Flash floods are sudden and rapid floods typically caused by intense rainfall over a short period, often in mountainous or urban areas with poor drainage systems. 
                They can occur within minutes or hours of heavy rainfall and are characterized by a rapid rise in water levels.</li>
                <li><strong>Riverine Floods:</strong>These occur when rivers, streams, or other water bodies overflow their banks due to heavy rainfall, snowmelt, or ice jams.
                     Riverine floods are common in areas with extensive river systems.</li>
                <li><strong>Coastal Floods:</strong>Coastal floods, also known as storm surges, occur when strong winds from hurricanes, tropical storms, or intense weather systems push seawater onto land.
                    Coastal floods can cause significant damage to coastal communities and infrastructure.</li>
                <li><strong>Pluvial Floods: </strong>Pluvial floods happen when urban or rural areas experience heavy rainfall that overwhelms drainage systems, leading to localized flooding.
                     These floods are common in urban areas with impermeable surfaces like roads and parking lots.</li>
            </ol>
            <h3>Predicting the Occurrence of Cyclones:</h3>
            <ul>
                <li>Meteorological agencies use weather radar, satellite imagery, and computer models to forecast rainfall patterns and identify areas at risk of flooding. Advanced warning systems can provide alerts to residents and emergency responders.</li>
                <li>Monitoring river levels using gauges installed along riverbanks helps predict riverine floods. Rising water levels can indicate potential flooding, triggering evacuation orders and flood warnings.</li>
                <li>Hydrologists use mathematical models to simulate how rainfall, snowmelt, soil moisture, and other factors affect river flow and flood behavior. These models help predict flood timing, duration, and severity.</li>
            </ul>
            <h3>Tips to survive Floods:</h3>
            <ol>
                <li><h5>Stay Informed</h5></li>
                <li><h5>Evacuate Early</h5></li>
                <li><h5>Move to Higher Ground</h5></li>
                <li><h5>Avoid Walking or Driving Through Floodwaters</h5></li>
                <li><h5>Prepare an Emergency Kit</h5></li>
                <li><h5>Turn Off Utilities</h5></li>
                <li><h5>Stay on Rooftops if Trapped</h5></li>
            </ol>
        </div>
        <div class="col-lg-5">
            <img src="/images/floods.jpg" class="img-fluid" alt="Cyclone Image">
        </div>
    </div>
</div>