<%layout('layouts/enterbp')%>
<div class="row mb-3">
    <div class="text-center">
        <h1>Precautions for Disasters</h1>
    </div>
</div>
<div class="container">
        <div class="row mb-3 ">
            <div class="col-3">
                <div class="card" style="width: 18rem; height: 26rem;">
                    <img src="/images/cyclone.jpeg" class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">Cyclone</h5>
                      <a href="/blogs/cyclone" class="btn btn-primary">View Details</a>
                    </div>
                  </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem; height: 26rem;">
                    <img src="https://plus.unsplash.com/premium_photo-1695914233513-6f9ca230abdb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">Earthquake</h5>
                      <a href="/blogs/earthquake" class="btn btn-primary">View Details</a>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; height: 26rem;">
                    <img src="/images/tsunami.jpg" class="card-img-top" alt="..." style="height: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">Tsunami</h5>
                      <a href="/blogs/tsunami" class="btn btn-primary">View Details</a>
                    </div>
                  </div>
            </div>
            <div class="col-3">
              <div class="card" style="width: 18rem; height: 26rem;">
                  <img src="/images/floods.jpg" class="card-img-top" alt="..." style="height: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">Floods</h5>
                    <a href="/blogs/floods" class="btn btn-primary">View Details</a>
                  </div>
                </div>
          </div>
        </div>
    </div>