<%layout('layouts/enterbp')%>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://photos.lensculture.com/large/c777786a-56fb-4656-a399-166f74727543.jpg" class="d-block w-100 " alt="...">
          <div class="carousel-caption d-none d-md-block custom-caption ">
              <h5> Empowering smiles in the face of adversity</h5>
            </div>
        </div>
    <!-- <div class="carousel-item ">
      <img src="https://images.unsplash.com/photo-1704971175047-03466f0ce02f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block ">
          <h5 >Earthquake</h5>
          <p>Rescue operations carried out at earthquake time</p>
        </div>
    </div> -->
    <div class="carousel-item">
      <img src="https://i.kinja-img.com/image/upload/c_fill,h_900,q_60,w_1600/10ae635e5991309790d2705eb5ff5eb6.jpg"  class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block custom-caption">
          <h5 >Kerala</h5>
          <p>Rescue operations for kerala flood victims</p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="https://static.pib.gov.in/WriteReadData/userfiles/image/WhatsAppImage2021-07-24at7.01.14PM6TAW.jpeg" style="height: 100vh;"  class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block custom-caption">
          <h5 >Maharasthra</h5>
          <p>Flood relief operations carried out by Indian army</p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="https://sc0.blr1.cdn.digitaloceanspaces.com/article/gvbglgsoga-1539329554.jpg"  class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block custom-caption">
          <h5 >Srikakulam</h5>
          <p>Relief operations for Cyclone Titli in Andhra Pradesh and Odisha</p>
        </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  