<%layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="mb-4 col-md-6 offset-4">Emergency Contacts</h1>
        <!-- NDRF Helpline Card -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">National Disaster Response Force (NDRF) Helpline</h5>
                <p class="card-text">Dial: 1078</p>
            </div>
        </div>
        
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"> National Disaster Management Authority (NDMA) Helpline</h5>
                <p class="card-text">Dial:  011-1078</p>
            </div>
        </div>
        <!-- Police Emergency Card -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Police Emergency</h5>
                <p class="card-text">Dial: 100</p>
            </div>
        </div>

        <!-- Fire Department Card -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Fire Department</h5>
                <p class="card-text">Dial: 101</p>
            </div>
        </div>

        <!-- Ambulance Card -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Ambulance</h5>
                <p class="card-text">Dial: 102</p>
            </div>
        </div>

        
</div>